<header>
  <div class="title">タイトル</div>
  <ul>
    <li><%= link_to 'ログイン', "#", class: "login" %></li>
    <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
  </ul>

</header>
<div class="main-top">
  やせるために、何をしますか？
</div>
<div class="main-left">
  注目の日記
</div>
<div class="main-right">
  人気のダイエット方法
</div>