<h1>ダイエット方法投稿</h1>
<div></div>
<div>
<%= form_with model: @diet_method, local: true do |f| %>

  <div>
    タイトル
    <span>必須</span>
  </div>
  <%= f.text_area :title, placeholder:"タイトル（必須・40文字まで）" %>

<% end %>
</div>