<div>
  <%= @diet_method.title %>
  <%= @diet_method.type.name %>
  <%= @diet_method.explanation %>
  <div class="star-rating mb-2">
    <div class="star-rating-front" style="width: <%= %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
</div>