.top-page-header{
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.login, .sign-up, .logout,
.user-nickname, .user-record-btn{
  text-decoration: none;
  line-height: 32px;
  border: 1px solid black;
  padding: 10px;
  margin-right: 3vw;
  color: black;
}

.main-top{
  background-image: image-url('wrong_diet.jpg');
}

